<section class="product-details">
    <figure>
        <img id="product-img" src="data:{{product.image.contentType}};base64,{{product.image.data}}" alt="">
    </figure>
    <div class="content_wrapper">
        <h3 class="title">{{product.name}}</h3>
        <p>Описание: {{product.description}}</p>
        <h5 class="title">Цена: {{product.price}} лв</h5>
        {{#if product.isAuthorOrAdmin}}
            <a href="/product/delete/{{product._id}}" class="primary_btn">Изтрий</a>
        {{/if}}
        <a href="/product/buy/{{product._id}}" class="primary_btn">Купи</a>
    </div>
</section>