<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
             data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Causes</h2>
                <p>
                    These are the causes we are working on at the moment! <br>
                    If you want to help,
                    you can donate or buy a product. <br>
                    The profit from the sale of the product will be used in the cause, chosen from you.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="features_causes">
    <div class="container">
        <div class="main_title">
            <h2>Current causes</h2>
            <p>
                You can help right now! <br>
                Simply donate or buy the chosen from you product!
            </p>
            <div class="text-center">
                <a href="/cause/completed" class="primary_btn">Accomplished causes</a>
            </div>

        </div>

        <div class="row">
            {{#each causes}}
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <figure class="fix-size-image">
                                <a href="/cause/details/{{_id}}">
                                    <img class="card-img-top img-fluid"
                                     src="data:{{image.contentType}};base64,{{image.data}}" alt="Снимка на каузата">
                                </a>
                            </figure>
                            <div class="card_inner_body">
                                <h4 class="card-title">{{name}}</h4>
                                <div class="d-flex justify-content-between raised_goal">
                                    <p>Collected: {{raised}} lv.</p>
                                    <p><span>Needed: {{goal}} lv.</span></p>
                                </div>
                                <div class="d-flex justify-content-between donation align-items-center">
                                    <a href="/cause/donate/{{_id}}" class="primary_btn">Donate</a>
                                    {{#if ../isAdmin}}
                                        <a href="/cause/delete/{{_id}}" class="primary_btn">Delete</a>
                                        <a href="/cause/edit/{{_id}}" class="primary_btn">Edit</a>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>