<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
             data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Causes</h2>
                <p>These are our causes. If you want to help you can add product and the profit will be used in cause
                    which you choose.</p>
            </div>
        </div>
    </div>
</section>

<section class="features_causes">
    <div class="container">
        <div class="main_title">
            <h2>Featured causes</h2>
            <p>You can help now. Please make it!</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                {{#each causes}}
                    <div class="card">
                        <div class="card-body">
                            <figure>
                                <img class="card-img-top img-fluid" src="{{this.image}}" alt="Cause image">
                            </figure>
                            <div class="card_inner_body">
                                <h4 class="card-title">{{name}}</h4>
                                <p class="card-text">{{description}}</p>
                                <div class="d-flex justify-content-between raised_goal">
                                    <p>Raised: {{raised}} lv</p>
                                    <p><span>Goal: {{goal}} lv</span></p>
                                </div>
                                <div class="d-flex justify-content-between donation align-items-center">
                                    <a href="#" class="primary_btn">donate</a>
                                    {{#if ../isAdmin}}
                                        <a href="/cause/delete/{{_id}}" class="primary_btn">delete</a>
                                        <a href="/cause/edit/{{_id}}" class="primary_btn">edit</a>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <div>
            <a href="/cause/completed" class="primary_btn">View completed causes</a>
        </div>
    </div>
</section>