<section class="product-details">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
            <figure>
                <img id="product-img" class="img-fluid w-100" src="data:{{product.image.contentType}};base64,{{product.image.data}}" alt="Снимка на продукта">
            </figure>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="content_wrapper">
                <h3 class="title">{{product.name}}</h3>
                <p>{{product.description}}</p>
                <h5 class="title">Цена: {{product.price}} лв</h5>
                <a href="/product/edit/{{product._id}}" class="primary_btn">Редактиране</a>
                <a href="/product/delete/{{product._id}}" class="primary_btn danger">Изтриване</a>
            </div>
        </div>
    </div>
</section>